<template name = "guide">

	<div class = "jumbotron" id = "jump1">

		<div class = "jumbotron" id = "jump2">

			<h1 id = "topusertitle"> User Guide </h1>

			<div class="panel panel-default panelcla">
				<div class="panel-body">
					Authorize your Venmo account to add credit and start picking classes to take.
				</div>
			</div>
			<div class="panel panel-default panelcla">
				<div class="panel-body">
					Visit the 'Edit Profile' tab found at the dropdown bar at the top right. You can select your profile picture, display name, and other basic info there.
				</div>
			</div>
			<div class="panel panel-default panelcla">
				<div class="panel-body">
					Start looking for classes! There are a wide variety of things to learn, and a wide audience for any classes you would like to teach. You can search for as well as post classes.
				</div>
			</div>
			<div class="panel panel-default panelcla">
				<div class="panel-body">
					With an empty search, we return the top ten future classes with the most students enrolled already, while searching with a specific query gives you all classes, past and upcoming. Past classes will be shown in light red, and are for your reference.
				</div>
			</div>
			<div class="panel panel-default panelcla">
				<div class="panel-body">
					Make use of our pricing system! After more students sign up for a class, the price goes down. You can see the initial cost, which will be crossed out as well as the cost you will pay. Your account will be charged with the current cost, but you will receive a notification and refund if more students join the class and the price goes down!
				</div>
			</div>
			<div class="panel panel-default panelcla">
				<div class="panel-body">
					As a teacher, you will be notified when a student enrolls in your class, reviews you or posts a comment to your class. As a student, you will be notified if the teacher updates your class or posts an annoucement.
				</div>
			</div>
			
		</div>



	</div>

</template>