


<template name="layout">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  </head>
  <header class = "{{navbarhelper}}">
    <nav class = "{{navbarhelper}} container-fluid" id = "{{navbartophelper}}">
      <div class = "navbar-header">
        <button class = "navbar-toggle" data-toggle = "collapse"
        data-target=".collapseclasser"> <span class="glyphicon glyphicon-th-list"></span>
      </button>
      <img class = "logoimage" src="/Logo.png">
      <a class = "navbar-brand navbartext" id = "navhomeid" > Overlaps</a>
    </div>
    {{> sAlert}}
    <div class = "navbar-collapse collapse collapseclasser" id = "{{NavBarHelper}}">
      <div id = "leftpart">
        <ul class = "nav navbar-nav" id = "navtopclass">
          {{#if toptabid12}}
          <li class = 'toptab' id = 'toptabid'> <a href = '#about' class = 'aboutlink scroll-link navbartext' data-scroll> Why Overlaps? </a></li>
          <li class = 'toptab' id = 'toptabid15'> <a href = '#pricing' class = 'pricelink scroll-link navbartext' data-scroll> Pricing Model </a></li>
          <li id = "toptabid2"> <a href = '#Topics' class = 'topicslink navbartext scroll-link'> How It Works </a></li>
          {{/if}}


          {{#if currentUser}}
          {{#if toptabid33}}
          <li class = 'toptab' id = "toptabid3" > <a href = '#Mission' class = 'missionlink navbartext scroll-link'> Testimonials </a></li>
          {{/if}}

          {{/if}}
          <li class = 'toptab' >{{{searchbarhelper}}}</li>
        </ul>
      </div>

      <ul class = "nav navbar-right navbar-nav">
      {{#if currentUser}}
        <li id = "spacjh"><span id = "moneylink" class = "money hidden-xs hidden-sm">${{money}}</span></li>
        <li> <div class = "profpic hidden-xs hidden-sm">  <img class= "logoimage" src = "{{photoprof}}"> </div></li>
        {{/if}}
        <li> {{>loginButtons}}</li>





        {{#if currentUser}}
        <div class="dropdown" id = "oneline">

          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          {{notificationsnum}}
            <span class="caret"></span>

          </button>
          <ul class="dropdown-menu navbar-right" id = "notifmax">
          <li id = "linotif"> Notifications </li>
            {{#each notifications}}

            {{> notificationsTemplate}}

            {{/each}}
            <li> <div id = "btndelete" class = "btn btn-warning"> Clear Notifications </div></li>
          </ul>
        </div>
        {{/if}}
      </ul>

    </div>

  </nav>

</header>


{{>yield}}



<!--
  {{#if currentUser}}
          {{> dashboard}}
        {{else}}
	        {{> register}}
		        {{> login}}
			    {{/if}}

        -->

        <!-- Footer template is from http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/ -->
        <footer class="footer-distributed">

          <div class="footer-left">

            <h3 id = "footerh">Overlaps <img class = "logoimage2" src="/Logo.png"></h3>

            <p class="footer-company-name">Overlaps &copy; 2015</p>
          </div>

          <div class="footer-center">

            <div>
              <i class="fa fa-map-marker"></i>
              <p> 500 Memorial Drive <br> Cambridge, MA</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+1 123 4567</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:team@overlaps.com">team@overlaps.com</a></p>
              <p> Some of the art is original. Some art from freepik.com, flaticon.com, etc. </p>
            </div>

          </div>

          <div class="footer-right">

            <p class="footer-company-about">
              <span>About us</span>
              We are a platform for college students to learn useful skills from cooking to fixing up a bike. From quick demos to longer lessons, we want to allow everyone to share the diverse skills they have with others.
            </p>



          </div>

        </footer>
      </template>
