


<template name="layout">

  <header class = "{{navbarhelper}}">
    <nav class = "{{navbarhelper}} container-fluid" id = "{{navbartophelper}}">
      <div class = "navbar-header">
        <button class = "navbar-toggle" data-toggle = "collapse"
        data-target="#NavBar"> <span class="glyphicon glyphicon-th-list"></span>
      </button>
      <img class = "logoimage" src="/Logo.png">
      <a class = "navbar-brand navbartext" href = "../"> Overlaps</a>
    </div>
    {{> sAlert}}
    <div class = "navbar-collapse collapse" id = "{{NavBarHelper}}">
    <div id = "leftpart">
      <ul class = "nav navbar-nav" id = "navtopclass">
        {{#if toptabid12}}
        <li class = 'toptab' id = 'toptabid'> <a href = '#about' class = 'aboutlink scroll-link navbartext' data-scroll> Why Overlaps? </a></li>
      <li> <a href = '#Topics' id = 'toptabid2' class = 'topicslink navbartext scroll-link'> How It Works </a></li>
        {{/if}}


        {{#if currentUser}}
        {{#if toptabid33}}
        <li> <a href = '#Mission' id = 'toptabid3' class = 'missionlink navbartext scroll-link'> Mission </a></li>
        {{/if}}

        {{/if}}
      </ul>
    </div>
      <ul class = "nav navbar-right navbar-nav">
        <li><span>$</span><span class = "money">22</span></li>
        <li> <div class = "profpic">  <img class= "logoimage" src = "{{photoprof}}"> </div></li>
        <li> {{>loginButtons}}</li>
        <li> <div class = "btn"> </div> </li>
      </ul>

    </div>
  </nav>

</header>


{{>yield}}



<!--
    {{#if currentUser}}
            {{> dashboard}}
	        {{else}}
		        {{> register}}
			        {{> login}}
				    {{/if}}

          -->

          <!-- Footer template is from http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/ -->
          <footer class="footer-distributed">

            <div class="footer-left">

              <h3>Overlaps</h3>

              <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Contact</a>
              </p>

              <p class="footer-company-name">Company Name &copy; 2015</p>
            </div>

            <div class="footer-center">

              <div>
                <i class="fa fa-map-marker"></i>
                <p><span>77 Massachusetts ave</span> Cambridge, MA</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+1 123 4567</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:team@overlaps.com">team@overlaps.com</a></p>
              </div>

            </div>

            <div class="footer-right">

              <p class="footer-company-about">
                <span>About us</span>
                We are a platform for college students to learn useful skills from cooking to fixing up a bike. From quick demos to longer lessons, we want to allow everyone to share the diverse skills they have with others.
              </p>

              <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

              </div>

            </div>

          </footer>
        </template>
