<template name = "classInfoPage">

  <div class ="_classInfoPage">

    <!-- Top Level Class Info -->
    <div class = "jumbotron">
      <h2><hr>Introduction to Algorithms<hr></h2>
      <div class = "row">
        <!-- TODO: Animate numbers flick up, model accelereation and decelleration -->
        <span class="col-sm-4">6 <small>students</small></span>
        <span class="col-sm-4">$6 <small>per hr</small></span>
        <span class="col-sm-4">4.65 <small>stars</small></span>
      </div>
    </div>

    <div class="secondary-class-info">
      <div class = "row">
        <!-- TODO: Animate numbers flick up, model accelereation and decelleration -->
        <span class="col-sm-6">Yilun Du<small> teaching</small></span>
        <span class="col-sm-6">7th<small> week</small></span>

      </div>

    </div>

    <button class="btn btn-primary">Enroll me!</button>

    <!-- Main Class Content -->
    <div class="panel panel-default">

      <div class ="panel-body">
        TEST TEST
      </div>
    </div>

  </div>
</template>
