<template name ="createClass">

  <div class="_createClass">

    <div class="panel panel-default">

      <div class="page-header">
        <h1>Create class:</h1>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="addon1">Title:</span>
        <input type="text" class="form-control" placeholder="Ex: 8.01" aria-describedby="addon1" id="titleField">
      </div>


      <div class="input-group">
        <span class="input-group-addon" id="addon3">Cost:</span>
        <input type="number" class="form-control" placeholder="" aria-describedby="addon3" id="costField">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="addon4">Description:</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="addon4" id="descField">
      </div>

      <div class="page-header">
        <h3>Subject:</h3>
      </div>

      <div class="list-group">

        <a href="#" class="list-group-item">Computer</a>
        <a href="#" class="list-group-item">Science</a>
        <a href="#" class="list-group-item">Cooking</a>
        <a href="#" class="list-group-item">Biking</a>
        <a href="#" class="list-group-item">Misc.</a>
      </div>

      <button class="btn btn-primary" id="createBtn">Create this class!</button>
    </div>

  </div>




</template>
