<template name = "find">
  <title>Browse Sellers</title>
  <form class="searchform">
	  Subject <br>
	  <input type="text" class="subject" name="subject" placeholder="Please describe the subject"><br>
	  <input type="text" class="description" name="description" placeholder="Please give a brief description of class you want to find"><br>
	  <input type="submit" value="Submit">
  </form>
  <div>
  	<header>
  		<h1> Search Results </h1>
  	</header>
  	<!--{{>searchResult}} Not working right now-->

	
	<p class="Test"></p>
  </div>

</template>
