
<template name="home">
	<header>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</header>
	<div class = "page-section" id = "home">
		
		<div id="carouselimage" class="carousel slide" data-ride="carousel" data-interval="3000">
			<div class = "registerBar">
				<div class="form-group">
  				<label id="registerlabel" for="user1">Enter your class now!</label>
  				<input type="text" class="form-control" id="user1">
				</div>

			</div>
			
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class = "imgslide" src="Biker.png" alt="First">
				</div>
				<div class="item">
					<img class = "imgslide" src="food.png" alt="Second">
				</div>
				<div class="item">
					<img class = "imgslide" src="exercising.png" alt="Third">
				</div>
				<div class="item">
					<img class = "imgslide" src="Bikeground.png" alt="Fourth">
				</div>
			</div>
			<a class="left carousel-control" href="#carouselimage" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carouselimage" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
			<div class = "cover">
				<div class = "content">
					<h1 id = "title"> OVERLAPS </h1>
					<h2 id = "titleunder">   heyo </h2>
				</div>
			</div>
		</div>

	</div>
	
	
	
	<br><br><br><br><br><br>
	<form class="form">
		<input type="text" class="subject" name="subject" placeholder="Please Type the subject you are teaching."/>
		<input type="text" class="description" name="description" placeholder="Please Type a brief discription of the subject you are teaching. "/>
		<input type="submit">
	</form>


</template>
