<template name="sellerDashboard">
  <div class = "_seller-dashboard container-fluid"><!-- For css scoping in meteor -->


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar1">
      <div class ="panel panel-default">
          <div class = "panel-heading">
            Class Management
          </div>
          <div class="panel-body">

            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button>
          </div>
      </div>

      <div class ="panel panel-default">
          <div class ="panel-heading">
            Money Management
          </div>
          <div class="panel-body">

            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button>
          </div>
      </div>

      <div class ="panel panel-default">
          <div class = "panel-heading">
            Reviews and Reputation
          </div>
          <div class="panel-body">

            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button><br/>
            <button class="btn btn-default">Create a new Class!</button>
          </div>
      </div>
    </div>

    <div class = "main-section col-xs-6 col-sm-9">

      {{#if numClasses}}
        {{#each classes}}
          {{> classDashboardElement}}
        {{/each}}
      {{else}}
        {{ > classDashboardElementEmpty}}
      {{/if}}

      <div class="bs-callout bs-callout-primary">
        <h1>Title:</h1>
        <p>Subject:</p>
        <p>Cost:</p>
        <p>Description:</p>
        <p>Number of Students:</p>
      </div>

      <div class="bs-callout bs-callout-primary">
        <h1>Class A</h1>
        sadkadjlasd
        ashdlkhfdskfsd
        fdskjfkdsa
        sadkjsajlkdk
      </div>

      <div class="bs-callout bs-callout-primary">
        <h1>Class A</h1>
        sadkadjlasd
        ashdlkhfdskfsd
        fdskjfkdsa
        sadkjsajlkdk
      </div>

      <div class="bs-callout bs-callout-primary">
        <h1>Class A</h1>
        sadkadjlasd
        ashdlkhfdskfsd
        fdskjfkdsa
        sadkjsajlkdk
      </div>
    </div>

  </div>


</template>

<!-- Represents one of the users classes on the main dashboard section
  **also note that template names (and likely helper names, etc.) cannot by hyphenated
  -thanks slava - https://github.com/meteor/meteor/issues/1602
-->
<template name = "classDashboardElement">

  <div class="bs-callout bs-callout-primary">
    <h1>{{title}}</h1>
    <p>{{subject}}</p>
    <p>{{cost}}</p>
    <p>{{description}}</p>
    <p>{{studentNumber}}</p>
  </div>

</template>


<template name = "classDashboardElementEmpty">
  <div class="bs-callout bs-callout-warning">
    <h1>Your not currently teaching any classes!</h1>
    <button class="btn btn-primary">Teach Now!</button>
  </div>

</template>
