<template name="sellerDashboard">
  <div class = "_seller-dashboard container-fluid"><!-- For css scoping in meteor -->


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar1">
      <div class ="panel panel-default">


          <div class = "panel-heading">
            Class Management
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="classes-overview col-xs-12">
              Number of classes: <br/>
              Total Revenue:<br/>
              Number of Students:<br/>
              Next Class Time:<br/>
              New Students:<br/>
            </div>

            <div class="btn-group col-xs-12">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by: <span class="caret"></span>
              </button>

              <ul class="dropdown-menu">
                <li><a href="#">Name (A-Z)</a></li>
                <li><a href="#">Students Enrolled (Ascending Order)</a></li>
                <li><a href="#">Subject (A-Z)</a></li>
              </ul>
            </div>

            <button class="btn btn-primary col-xs-12" id="create-class-btn">Create a new Class!</button>

          </div>

        </div>
      </div>

      <div class ="panel panel-default">
          <div class ="panel-heading">
            Money Management
          </div>
          <div class="panel-body">



          </div>
      </div>

      <div class ="panel panel-default">
          <div class = "panel-heading">
            Reviews and Reputation
          </div>
          <div class="panel-body">


          </div>
      </div>
    </div>

    <div class = "main-section col-xs-6 col-sm-9">

      {{#if numClasses}}
        {{#each classes}}
          {{> classDashboardElement}}
        {{/each}}
      {{else}}
        {{ > classDashboardElementEmpty}}
      {{/if}}

    </div>

  </div>


</template>

<!-- Represents one of the users classes on the main dashboard section
  **also note that template names (and likely helper names, etc.) cannot by hyphenated
  -thanks slava - https://github.com/meteor/meteor/issues/1602
-->
<template name = "classDashboardElement">

  <div class="bs-callout bs-callout-info">
    <h1>{{title}}</h1>
    <p>{{subject}}</p>
    <p>{{cost}}</p>
    <p>{{description}}</p>
    <p>{{studentNumber}}</p>
  </div>

</template>


<template name = "classDashboardElementEmpty">
  <div class="bs-callout bs-callout-warning">
    <h1>You are not currently teaching any classes!</h1>
    <button class="btn btn-primary">Teach Now!</button>
  </div>

</template>
