<template name="studentDashboard">
  <div class = "_student-dashboard container-fluid"><!-- For css scoping in meteor -->


    <div class="col-xs-12 col-sm-6 col-md-3 sidebar-offcanvas" id="sidebar1">
      <div class ="panel panel-default">


          <div class = "panel-heading">
            Class Management
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="classes-overview col-xs-12">
              Number of classes: <br/>
              Total Revenue:<br/>
              Number of Students:<br/>
              Next Class Time:<br/>
              New Students:<br/>
            </div>

            <div class="btn-group col-xs-12">

              <!--TODO: Implement filtering-->
              <button type="button" class="btn btn-primary dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by: <span class="caret"></span>
              </button>

              <ul class="dropdown-menu">
                <li><a href="#">Price</a></li>
                <li><a href="#">Time</a></li>
              </ul>
            </div>

            <a class="btn btn-primary col-xs-12" id="join-class-btn" href="{{pathFor 'find'}}">Sind up for a new class</a>

          </div>

        </div>
      </div>


      <div class ="panel panel-default">
          <div class = "panel-heading">
            Notifications
          </div>
          <div class="panel-body">



          </div>
      </div>
    </div>

    <div class = "main-section col-xs-12 col-sm-6 col-md-9">

      {{#if numClasses}}
        {{#each classes}}
          {{> studentDashboardElement}}
        {{/each}}
      {{else}}
        {{ > studentDashboardElementEmpty}}
      {{/if}}

    </div>

  </div>


</template>
