<!-- Represents one of the users classes on the main dashboard section
  **also note that template names (and likely helper names, etc.) cannot by hyphenated
  -thanks slava - https://github.com/meteor/meteor/issues/1602
-->
<template name = "studentDashboardElement">

  <div class="bs-callout bs-callout-info">

    <h1>{{title}}</h1>
    <p>{{subject}}</p>
    <p>{{cost}}</p>
    <p>{{description}}</p>
    <p>{{studentNumber}}</p>
    <p>{{teacher}}</p>

    <button class="btn btn-warning">Drop Class</button>

  </div>

</template>
