<!-- Represents one of the users classes on the main dashboard section
  **also note that template names (and likely helper names, etc.) cannot by hyphenated
  -thanks slava - https://github.com/meteor/meteor/issues/1602
-->
<template name = "classDashboardElement">

  <div class="bs-callout bs-callout-info">
    <h1>Title: {{title}}</h1>
    <p>Subject: {{subject}}</p>
    <p>Cost: $<span class="strikethrough">{{cost}}</span> ${{newcost}}</p>
    <p>Description: {{description}}</p>
    <p>studentNumber {{studentNumber}}</p>

    <!--TODO: implement update class-->
    <button class="btn btn-primary disabled">Update Class</button>
    <button class="btn btn-warning">Cancel Class</button>

  </div>

</template>
