<template name = "classInfoPage">

  <div class ="_classInfoPage container-fluid">

    <!-- Top Level Class Info -->
    <div class = "jumbotron">
      <h2><hr>{{title}}<hr></h2>
      <div class = "row">
        <!-- TODO: Animate numbers flick up, model accelereation and decelleration -->
        <span class="col-sm-4"> {{studentNumber}}<small>students</small></span>
        <span class="col-sm-4">{{cost}} <small>per hr</small></span>
        <span class="col-sm-4">4.65 <small>stars</small></span>
      </div>
    </div>

    <div class="secondary-class-info">
      <div class = "row">
        <!-- TODO: Animate numbers flick up, model accelereation and decelleration -->
        <span class="col-sm-6">{{teacher}}<small> teaching</small></span>
        <span class="col-sm-6">7th<small> week</small></span>

      </div>

    </div>

    <button class="btn btn-primary">Enroll me!</button>

    <!-- Main Class Content -->
    <div class="main-body row">

      <div class="page-header">
        <h1>Class Announcements</h1>
      </div>
      <div class="teacher-announcements">

        <button class="btn btn-primary" id="teacherPostBtn" visible="{{isTeacher}}">Post:</button>
        <input type="text" class="form-control" width = "90%" id="teacherPostField">

        {{#each classAnnouncements}}
          {{> announcementTemplate}}
        {{/each}}


      </div>



      <div class="page-header">
        <h1>Student Comments</h1>
      </div>

      <div class="student-comments">
        
        <button class="btn btn-primary" id="studentPostBtn">Post</button>
        <input type="text" class="form-control" width = "90%" id="studentPostField">

        {{#each studentComments}}
          {{> commentTemplate}}
        {{/each}}

      </div>


    </div>

    <div class ="student-list col-md-6 col-xs-12">
      {{#each studentList}}
        {{> studentBanner}}
      {{/each}}
    </div>

    <div class ="review-list col-md-6 col-xs-12">
      TEST TEST TEST <br/>
      TEST TEST TESt
    </div>

  </div>
</template>
