<template name="credit">
<head>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<div class = "containercred" id = "scrollcredit">
<div class = "_credit">
<div class = "page-header">
<h1 id = "financetitle" class = "jumbotron"> Account Finances</h1>
</div>

{{#if authenticated}}

    <div class = "inputgroupGroup">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Current Balance $</span> <!-- Name inputted here will appear in top right accounts ui dropdown -->
      <input type="number" class="form-control" id="name-field" aria-describedby="basic-addon1" value={{cash}} readonly>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Add Balance $&nbsp; &nbsp;</span>
      <input type="number" class="form-control" id="addvalue" placeholder="Ex: 20.00"  min="0.01" step="0.01" max="2500" value=0.00>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Withdraw Balance $</span>
      <input type="number" class="form-control" id="removevalue" placeholder="Ex: 23.00"  min="0.01" step="0.01" max="2500" value=0.00>
    </div>

     <div class="btn-group">
      <button type="button" class="btn btn-primary" id="submit-btn">Confirm</button>
    </div>
    </div>

{{else}}
    <div>
      <a class = "btn btn-danger venmo" href= "{{url}} ">Authenticate Venmo</a>
    </div>
    
{{/if}}

</div>
</div>
</template>