<template name ="editClass">

  <div class="_editClass">

    <div class="panel panel-default">

      <div class="input-group">
        <span class="input-group-addon" id="addon1">Title:</span>
        <input type="text" class="form-control" placeholder="Ex: 8.01" aria-describedby="addon1" value="{{title}}">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="addon2">Subject:</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="addon2" value="{{subject}}">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="addon3">Cost:</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="addon3" value="{{cost}}">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="addon4">Description:</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="addon4" value="{{description}}">
      </div>

      <button class="btn btn-primary">Push Updates!</button>
    </div>

  </div>




</template>
