<template name = "find">
  <div class="__find">
  <title>Browse Sellers</title>
  <h1> Search <br> </h1>
  <form class="searchform">
	<p> Welcome to the search bar! Please enter a short description of the title and description. </p>
  <ul>
  <li>
    <label class = "firstthing" for="title">Title: </label>
	  <input type="text" id="title1" name="title" placeholder="Please give keywords in title of class you want to find."><br>
  </li>
  <li>
    <label for="description"> Description: </label>
	  <input type="text" id="description1" name="description" placeholder="Please give keywords in description of the class you want to find"><br>
  </li>
  <li>
	  <button class="submit" type="submit">Search</button>
  </li>
  </ul>
  </form>
  <div>
  	<header>
  		<h2> Search Results </h2>
  	</header>
  	<!--{{>searchResult}} Not working right now-->

	<div class="container">
	<p class="Test">
   
   {{#each results}} 
   <div class= 'results'>
   <ul>
   <li>{{_id}}</li>
   <li>Subject: {{subject}}</li>
   <li>Title: {{title}}</li>
   <li>Student Number: {{studentNumber}}</li>
   <li>Teacher: {{teacher}}</li>
   <li>Date: {{createdAt}}</li>
   <li>Description: {{description}}</li>
   <li><button class="submit">Enroll!</button></li>

      </ul>
  
    </div>
   {{/each}}
  </p>
  </div>
  </div>
  </div>

</template>