<template name = "find">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  </head>
  <div class="__find">
    <title>Browse Sellers</title>
    <div class = "page-section" id = "searchidsection">
      <h1 id = "honeid" class = "searchtitle"> Search <br> </h1>
      <br>
      <form class="searchform">
       <p class = "searchinfo"> Welcome to the search bar! Please enter a short description of the title and description. </p>
       <ul>
        <li>
          <input type="text" id="title1" name="title" placeholder="What do you want to learn? (Ex. cooking, guitar)" value={{this.search}}><br>
        </li>
        
        <li>
         <button class="submit" type="submit">Search</button>

          <label>
            <input id="check" type="checkbox"> Include Past Classes
          </label>

      </li>
    </ul>
  </form>
</div>
<div>
 <header>
  <h2> Search Results </h2>
</header>
<!--{{>searchResult}} Not working right now-->

<div class="container jumbotron outsidesearch" id = "fourpushdown">
 <p class="Test">
   {{#if results}}
   {{#each results}} 
   <div class= 'results'>
     <ul class = "{{isOver}} jumbotron insidesearch">
       <li class = "hidethis">{{_id}}</li>
       <li class = 'classliid'><span class = "boldspan" ><a href="/class/{{_id}}"> {{title}} </a></span></li>
       <li><span class = "boldspan" >Description:</span> {{description}}</li>
       <li><span class = "boldspan" >Subject:</span> {{subject}}</li>
       <li><span class = "boldspan" >Teacher:</span> <a href="/profile?id={{teacherId}}">{{teacher}}</a></li>
       <li><span class = "boldspan" >Student Number:</span> {{studentNumber}}</li>
       <li><span class = "boldspan" >Time:</span> {{createdAt}}</li>
       <li><span class = "boldspan" > Address:</span> {{address}}</li>
       <!--    <li>Map: {{>googleMap name="Map" options=exampleMapOptions }}</li> -->
       <li><span class = "boldspan" > Base Cost: </span> <span class='strikethrough'> ${{cost}}</span>  &nbsp;&nbsp;&nbsp;&nbsp;<span class = "boldspan" >Current Cost:</span> ${{newcost}}</li>
       <!--     <li>Map: {{>googleMap name="Map" options= "{center: new google.maps.LatLng({{latitude}}, {{longitude}})}" }}</li>  -->

       <li><button class="submit">Enroll!</button></li>

     </ul>

   </div>

   {{/each}}
   {{else}}
   <p> Sorry, but no results were found for your query. Create this <a href="/createClass"> class </a> now!</p>
   {{/if}}
 </p>
</div>
</div>
</div>

</template>