<template name = "find">
<head>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
  <div class="__find">
    <title>Browse Sellers</title>
    <div class = "page-section" id = "searchidsection">
      <h1 id = "honeid" class = "searchtitle"> Search <br> </h1>
      <br>
      <form class="searchform">
       <p class = "searchinfo"> Welcome to the search bar! Please enter a short description of the title and description. </p>
       <ul>
        <li>
          <input type="text" id="title1" name="title" placeholder="What do you want to learn? (Ex. cooking, guitar)" value={{this}}><br>
        </li>
        
        <li>
         <button class="submit" type="submit">Search</button>
       </li>
     </ul>
   </form>
   </div>
   <div>
     <header>
      <h2> Search Results </h2>
    </header>
    <!--{{>searchResult}} Not working right now-->

    <div class="container" id = "fourpushdown">
     <p class="Test">

       {{#each results}} 
       <div class= 'results'>
         <ul class = "jumbotron insidesearch">
           <li id = "hidethis">{{_id}}</li>
            <li id = 'classliid'>Title: {{title}}</li>
            <li>Description: {{description}}</li>
           <li>Subject: {{subject}}</li>
           <li>Teacher: {{teacher}}</li>
           <li>Student Number: {{studentNumber}}</li>
           <li>Date: {{createdAt}}</li>
           
           <li><button class="submit">Enroll!</button></li>

         </ul>

       </div>

       {{/each}}
     </p>
   </div>
 </div>
</div>

</template>