<template name="sellerDashboard">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  </head>

  <div class = "_seller-dashboard container-fluid"><!-- For css scoping in meteor -->
    <div class = "page-section">
      <div class = "jumbotron" id = "selldashjum">
        <h1 id = "sellerdashtitle"> Teacher Dashboard </h1>
      </div>
    </div>
    <div class ="row">

      <div class="col-xs-12 col-sm-6 sidebar-offcanvas" id="sidebar1">



         <!--
          <div class="panel-body">
            <div class="row">
              <div class="classes-overview col-xs-12">
TODO: DO THIS
                Number of classes: <br/>
                Total Revenue:<br/>
                Number of Students:<br/>
                Next Class Time:<br/>
                New Students:<br/>

            </div>

            <div class="btn-group col-xs-12">

              TODO: Implement filtering
              <button type="button" class="btn btn-primary dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by: <span class="caret"></span>
              </button>

              <ul class="dropdown-menu">
                <li><a href="#">Name (A-Z)</a></li>
                <li><a href="#">Students Enrolled (Ascending Order)</a></li>
                <li><a href="#">Subject (A-Z)</a></li>
              </ul>
            </div>
          -->
          <div id = "spac">
            <a class="btn btn-primary col-xs-12" id="create-class-btn" href="{{pathFor 'createClass'}}"><img class = "clipboardclass" src = "flatclipboard.png"> Create a new Class!</a>
          </div>
          <div class ="panel panel-default" id = "thhistoryy">
            <div class ="panel-heading" id = "panelheadpink">
              <img class = "walletclass" src = "flatwallet.png"> &nbsp; &nbsp;  Transaction History
            </div>

            <ul class= "transaction_history">
              {{#each transactionHistory}}
              <li class = "jumbotron translist" id = "jumbotrans">{{this}}</li>
              {{/each}}

            </ul>
            <div class="panel-body">



            </div>
          </div>

          <div class ="panel panel-default">
            <div class = "panel-heading">
             <img class = "repclass" src = "iconrep1.png"> &nbsp; &nbsp; Reviews and Reputation
           </div>
           <div class="panel-body" id = "transscroll2">

             <ul class = "transaction_history">
              {{#each reviews}}
              <li class = "jumbotron translist" id = "jumbotrans"> {{this}} </li>
              {{/each}}
            </ul>
              <!--
              TODO: make this work
              <span style="font-family:Lato, font-size:50pt" id="reviewValue">4.5</span>
              <span class="glyphicon glyphicon-heart DeepPink"></span>
            -->

          </div>
        </div>

        <div class ="panel panel-default">
          <div class = "panel-heading">
            <img class = "walletclass" src = "flatbell.png"> &nbsp; &nbsp;  Notifications

          </div>
          <div class="panel-body" id = "notifbodyid2">

              {{#each notifications}}

                  {{> notificationsTemplate}}

              {{/each}}


          </div>
        </div>

      </div>

      <!-- Figure out why col-md doesn't work-->
      <div class = "main-section col-xs-12 col-sm-6">

        {{#if numClasses}}
        {{#each classes}}
        {{> classDashboardElement}}
        {{/each}}
        {{else}}
        {{ > classDashboardElementEmpty}}
        {{/if}}

      </div>

    </div>
  </div>


</template>
