<!-- Represents one of the users classes on the main dashboard section
  **also note that template names (and likely helper names, etc.) cannot by hyphenated
  -thanks slava - https://github.com/meteor/meteor/issues/1602
-->
<template name = "studentDashboardElement">

  <div class="bs-callout bs-callout-info">

    <h1>{{title}}</h1>
    <p>Subject: {{subject}}</p>
    <p>Cost: {{cost}}</p>
    <p>Description: {{description}}</p>
    <p>Students: {{studentNumber}}</p>
    <p>Teacher: {{teacher}}</p>
    <p>Address: {{address}}</p>

    <i>{{dateField}}</i>

    <button class="btn btn-warning">Drop Class</button>
    <a class="btn btn-primary" href="/class/{{_id}}">Class Page</a>
  </div>

</template>
