.notfoundclass{
	text-align: center;
	margin-top: 90px;
	color: white;
}
.fourimage{
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
    display: block;
    height: 500px;
}
.homebutton{
	width: 30%;
	margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    display: block;
    margin-bottom: 70px;
}
.background404{
	min-width: 700px;
	margin-top: -80px;
    width: 100%;
    background-image: url("hills.jpeg");

    height: auto;
}
/*
body{
	background-color: #87D37C;
}
*/