._classInfoPage .panel{
  margin: 50px;
  height: 400px;
  background-color: #FFA000;
  border-color: #feb645;
  border-radius: 20px;
  border-width: 6px;
}

._classInfoPage .jumbotron {

  margin: 25px;
  margin-bottom: 0px;
  border-radius: 25px;
  height: 300px;
  background-color: #00c9ff;
  padding: 50px;
}



._classInfoPage .jumbotron > h2 > hr{
  border-top: 3px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
}
._classInfoPage .jumbotron > h2 > hr:first-of-type{

  width: 50%;
}

._classInfoPage .jumbotron > h2 > hr:last-of-type{

  width: 30%;
}

._classInfoPage .jumbotron > h2 {
  color: white;
}

._classInfoPage .jumbotron span {
  color: white;
  font-size: 30pt;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
}

._classInfoPage .jumbotron small {
  font-size: 15pt;
}

._classInfoPage .secondary-class-info {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #0090b6;
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

._classInfoPage .main-body {
  margin: 50px;
}

._classInfoPage .secondary-class-info span {
  color: white;
  font-size: 20pt;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  padding-top: 20px;
  height: 100%;
}

._classInfoPage > .btn.btn-primary {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 23pt;
  width: 300px;
}

._classInfoPage .secondary-class-info span small {
  font-size: 10pt;
}

._classInfoPage .glyphicon-star{
  color: #f1c40f;
  font-size: 200%;
}
