.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#buyers {
  display: none;
    width: 65%;
    height: 32%;
}

@media screen and (min-width: 1200px){
  #buyers{
    margin-left: 25%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 950px){
  #buyers{
    margin-left:20%;
  }
}
@media screen and (max-width: 950px){
  #buyers{
    margin-left:16%;
  }
}
#bottomjum{
  background-color: #f5f5f5;
    padding: 20px;
    height: 170px;
}
.scrolldis{
  height: 150px;
  overflow-y: scroll;
}
#divuser{
      margin-left: 7%;

}
#mbbody{
      margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#urreview{
      margin-bottom: 10px;
      padding-top: 10px;
    padding-bottom: 30px;
    height: auto;
    /* padding: 10px; */
    background-color: #f5f5f5;
}
._classInfoPage{
  background-color: rgb(255,255,255);
  padding-bottom: 30px;
}

._classInfoPage .panel{
  margin: 50px;
  height: 400px;
  background-color: #FFA000;
  border-color: #feb645;
  border-radius: 20px;
  border-width: 6px;
}

._classInfoPage .jumbotron {

  margin: 25px;
  margin-bottom: 0px;
  border-radius: 25px;
  height: 300px;
  background-color: #00c9ff;
  padding: 50px;
}



._classInfoPage .jumbotron > h2 > hr{
  border-top: 3px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
}
._classInfoPage .jumbotron > h2 > hr:first-of-type{

  width: 50%;
}

._classInfoPage .jumbotron > h2 > hr:last-of-type{

  width: 30%;
}

._classInfoPage .jumbotron > h2 {
  color: #555;
}

._classInfoPage .jumbotron span {
  color: #555;

  text-align: center;
  vertical-align: middle;
  font-family: inherit;
}
._classInfoPage .row{
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (min-width: 1100px){
  ._classInfoPage .jumbotron span {
      font-size: 30pt;
  }
}
@media screen and (max-width: 1100px) and (min-width: 975px){
  ._classInfoPage .jumbotron span {
      font-size: 25pt;
  }
}
@media screen and (max-width: 975px) and (min-width: 900px){
  ._classInfoPage .jumbotron span {
      font-size: 20pt;
  }
}
@media screen and (max-width: 900px){
  ._classInfoPage .jumbotron span {
      font-size: 15pt;
  }
}


._classInfoPage .jumbotron small {
  font-size: 15pt;
  color: #555;
}
#centeringid{
  margin-left: 30%;
}
@media screen and (max-width: 960px){
  #teachid34{
    font-size: 25px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 960px){
  #teachid34{
    font-size: 30px;
    margin-top: 10px;
  }
}
#teachid34{
  color: #555;
}
._classInfoPage .secondary-class-info {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #DFF0D8;
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
#hurdurtitle{
      margin-bottom: 0px;
    margin-top: -10px;
  font-size: 40px;
}
.scroldiss{
  max-height: 300px;
  overflow-y: scroll;
}
._classInfoPage .main-body {
  margin: 30px;
}
#studposterer{
  max-height: 150px;
  overflow-y: scroll;
}
#example1{
  font-size: 15px;
}
#fat{
  width: 100%;
}
#studposter{
  margin-bottom: 6px;
}
#topjumbo{
  min-height: 400px;
  background-image:url("lightfluw.png");
  background-size: cover;
}
._classInfoPage .secondary-class-info span {
  color: white;
  font-size: 20pt;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  padding-top: 20px;
  height: 100%;
}

._classInfoPage > .btn.btn-primary {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 23pt;
  width: 300px;
}

._classInfoPage .secondary-class-info span small {
  font-size: 10pt;
}

._classInfoPage .glyphicon-star{
  color: #f1c40f;
  font-size: 200%;
}
