.__editProfile .input-group {

  margin: 20px;

}

.__editProfile .page-header {

  margin-left: 20px;

}

.__editProfile .btn-group {

  margin-left: 20px;

}

#fileInput{
	margin-left: 20px;
	margin-bottom: 20px;
}