.__editProfile .input-group {

  margin: 20px;

}
#jumt1{

	    background-color: #337ab7;
	    margin-bottom: 0px;
}

#brownband{
	background-color: brown;
	z-index: 1;
	width: 100%;
	position: absolute;
	height: 100px;
	margin-top: 50vh;
}
#fileInput{
	width: 100%;
}
@media screen and (min-width: 800px){
	#propcicle{
		height: 150px;
		width: 150px;
	}
}
@media screen and (max-width: 800px){
	#propcicle{
		height: 100px;
		width: 100px;
	}
}

#propcircle{
	height: 200px;
}



#jumt2{
	z-index: 2;
	height: 80vh;
	    padding-top: 10px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: white;
    margin-right: 30px;
    padding-bottom: 10px;
}
.__editProfile .page-header {

  margin-left: 20px;

}

.__editProfile .btn-group {

  margin-left: 20px;

}

#fileInput{
	max-width: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.__editProfile .venmo{
	margin-left: 20px;
}

.__editProfile #addcredit{
	margin-left: 20px;
}