
/*
.searchform input {
	width: 120%;
	height: 40px;
	margin-left: 30%;
	
}
*/
.boldspan{
    font-weight: bold;
}
.strikethrough{
    text-decoration: line-through;
}
.searchform{
        color: white;
    font-weight: 500;
}
.searchform label {
    width:150px;
    margin-top: 4px;
    display:inline-block;
    float:left;
    padding:3px;
    margin-left: 10%;
}

.searchform input {
	height:40px;
    margin-left: 20%;
	width: 60%;
}

.searchform {
	width: 100vw;
}
.searchform li{
    padding:12px;
    position:relative;
}
#fourpushdown{
    margin-top: 360px;
}
.searchform ul {
    width:100%;
    list-style-type:none;
    list-style-position:outside;
    margin:auto;
    padding:0px;
}
/*
.__find .true {
    opacity: 0.5;
}
*/
.__find h1, h2{
	text-align: center;
}

.__find .submit {
	margin-left: 45%;
}
.__find .container {
	width: 100vw;
}
.results {
	margin: auto;
}
.searchinfo{
    text-align: center;
}
#searchidsection{
    position: absolute;
}
.__find{
    margin-top: -38px;
}
.__find .outsidesearch{
    margin-top: 360px;
    background-color: #90c695;;
    border-radius: 20px;
    width: 95vw;
}
.__find .insidesearch{
    list-style-type: none;
     margin-bottom: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
    padding-top: 20px;
    margin-top: 10px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
#honeid{
    margin-top: 40px;
}
#searchidsection{
    min-height: 360px;
    background-size: cover;
    background-image: url("searchimage.jpeg");
}
.hidethis{
    height: 0px;
}
.classliid{
    color: #1F3A93;
    font-size: 2em;
    font-weight: 400;
}
/*
.results ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
    text-align: center;
    border-style: solid;
    border-color: #a8d1ff;
    margin-bottom: 20px;
    border-width: small;
    border-radius:30px;
}

.results li {
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}
*/
.results li .submit {
	margin-left: 40%;
}

.results li:first-child{
	visibility: hidden;
}
#title1{
    color: black;
}
