

.logoimage{
	height: 35px;
	margin-top: 7px;
	width: 35px;
	margin-right: 10px;
}
.logoimage2{
	height: 60px;
	margin-top: 7px;
	width: 60px;
	margin-right: 10px;
}
._home #carouselimage{
	z-index: 0;
	
}
/* http://bavotasan.com/2011/a-simple-fade-with-css3/
fade reference
*/
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.7;
      }

.fadein {
   opacity: 0;
   transition: opacity .25s ease-out;
   -moz-transition: opacity .25s ease-out;
   -webkit-transition: opacity .25s ease-out;
   }

   .fadein:hover {
      opacity: 1;
      }

#iconvertical, #iconleft {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.05s;
}

#pathways{
	width: 100%;
}
#home{
	background-size: cover;
	background-attachment: scroll;
	background-position: center;

}
#homecontainer{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	min-height: 350px;
}
#Topics{
	background-color: #f5f5f5;
}
#Topics .row{
	margin-bottom: 1%;
	margin-left: 4%;
	margin-right: 0%;
}
.spacercol{
	width: 3%;
}
.page-section{
	padding: 0;
}
#about{
	background-color: #428eff;
}
#abouttitle, #learntitle{
	margin-top: 10vh;
	margin-bottom: 5vh;
	font-size: .7em;
}
#About-title, .searchtitle{
	color: white;
}
#learn-title{
	color: #428eff;
}
#About-title, #learn-title, .searchtitle{
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 6em;
	font-weight: 300;
	letter-spacing: 6px;
}
._home .icons{
	margin-left: 30px;
	margin-right: 20px;
	width: 100%;
	height: 100%;
	margin-top: 10px;
}
._home .imagedescrip{
	margin-left: 10px;
	text-align: left;
	color: white;
	font-weight: 100;
	letter-spacing: 1px;
	margin-top: 5px;
}

._home .imagedescriptitle{
	margin-left: 10px;
	text-align: left;
	color: white;
	font-weight: 200;
	font-size: .4em;
	letter-spacing: 1px;
	margin-bottom: 30px;
	margin-top: 10px;
}
._home .img-responsive-h{
	position: absolute;
	color: white;
	padding: 30%;

    margin-left: 10%;
    margin-top: -75%;
	font-size: 3em;
}
._home .img-responsive-h2{
	position: absolute;
	color: white;
padding-bottom: 20%;
    padding-top: 20%;
    padding-right: 50%;
    padding-left: 40%;
    margin-left: 0%;
    margin-top: -45%;
	font-size: 3em;
}
#topicontainer{
	height: auto;
}

.iconvertical{
	padding-left: 40px;
	padding-right: 40px;
}
._home .container{
	width: 100vw;
	height: 100vh;
}

.thumb{
	height: 100%;
	padding-left:2px;
	padding-right: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.thumbnail1{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
}
.thumbnail2{
	margin-left: auto;
	margin-right: auto;
}
.relimage{
	height: 100%;
	width: 100%;
	position: relative;
}
@media screen and (max-width: 1000px){
/*	._home .thumbnail1{
	height: 160px;
	width: 250px;
}*/
._home .img-responsive{
	height: 100%;
	width: 100%;
}
._home .imagedescrip{
	font-size: .2em;
}
}

@media screen and (min-width: 1000px){
/*	._home .thumbnail{
	height: 210px;
	width: 310px;
}*/
._home .img-responsive{
	height: 100%;
	width: 100%;
}
._home .imagedescrip{
	font-size: .25em;
}
}
#Mission .container{
	padding-left: 0px;
	padding-right:0px;

}
.subjectbox{
	width: auto;
}
.labelclass{
	margin-left: 5%;
	color: white;
	font-size: 1.5em;
}

#teachclass{
	color: white;
	text-align: center;
	font-family: "lato";
	font-size: 4em;
	font-weight: 900;
	letter-spacing: 6px;
}
/*
.classText{
	margin-left: 0;
	font-size: 17px;
	color: black;
	background-color: rgba(255, 255, 255, .5);
}

.class_form .subject{
	margin-left: 35%;
}*/
#Mission{
	background-image:url("classroomblue2.png");
	background-size: cover;
	background-attachment: scroll;
	background-repeat:no-repeat;
	height: auto;
}
#class-image{
	width: 100%;
}




@media screen and (min-width: 1300px){
	#title{
		font-size: 80px;
	}
	._home .registerBar{
		top: 80%;
	}
}
@media screen and (min-width: 1150px)  and (max-width: 1300px){
	#title{
		font-size: 80px;
	}
	._home .registerBar{
		top: 80%;
	}
}
@media screen and (min-width: 1025px)  and (max-width: 1150px){
	#title{
		font-size: 80px;
	}
	._home .registerBar{
		top: 80%;
	}
}
@media screen and (min-width: 900px) and (max-width: 1025px){
	#title{
		font-size: 80px;
	}
	._home .registerBar{
		top: 77%;
	}
}
@media screen and (min-width: 768px) and ( max-width: 900px){
	#title{
		font-size: 70px;
	}
	._home .registerBar{
		top: 75%;
	}

}
@media screen and (min-width: 480px)and ( max-width: 768px){
	.carousel-slide{
		min-height:400px;
	}
	#title{
		font-size: 50px;
	}
	._home .registerBar{
		top: 74%;
	}
	
}
@media screen and (max-width: 480px){
	._home .registerBar{
		top: 74%;
	}
}

	::-webkit-input-placeholder {
		color: black;
		opacity: 0.5;
	}

.class_form ::-webkit-input-placeholder {
		color: black;
		opacity: 1.0;
	}

	.class_form *:focus {outline: none;}

	.class_form ul {
		width:1000px;
		list-style-type:none;
		list-style-position:outside;
		margin:0px;
		padding:0px;
	}

	.class_form select {
		margin-top: 3px;
		margin-bottom: -5px;
	}

	.class_form li{
		padding:12px; 
		/*border-bottom:1px solid #eee;*/
		position:relative;
	}

	.class_form label {
		width:150px;
		margin-top: 3px;
		display:inline-block;
		float:left;
		padding:3px;
	}

	.class_form input, .class_form textarea { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
	}
	.class_form input:focus, .class_form textarea:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
	}

	input,  textarea { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
	}
	input:focus,  textarea:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
	}
	/* Button Style */
	.submit {
		background-color: #68b12f;
		background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
		background: -webkit-linear-gradient(top, #68b12f, #50911e);
		background: -moz-linear-gradient(top, #68b12f, #50911e);
		background: -ms-linear-gradient(top, #68b12f, #50911e);
		background: -o-linear-gradient(top, #68b12f, #50911e);
		background: linear-gradient(top, #68b12f, #50911e);
		border: 1px solid #509111;
		border-bottom: 1px solid #5b992b;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		box-shadow: inset 0 1px 0 0 #9fd574;
		-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
		-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
		-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
		-o-box-shadow: 0 1px 0 0 #9fd574 inset;
		color: white;
		font-weight: bold;
		padding: 6px 20px;
		text-align: center;
		text-shadow: 0 -1px 0 #396715;
	}
	.submit:hover {
		opacity:.85;
		cursor: pointer; 
	}
	.submit:active {
		border: 1px solid #20911e;
		box-shadow: 0 0 10px 5px #356b0b inset; 
		-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
		-moz-box-shadow: 0 0 10px 5px #356b0b inset;
		-ms-box-shadow: 0 0 10px 5px #356b0b inset;
		-o-box-shadow: 0 0 10px 5px #356b0b inset;

	}

	.class_form input {
		height:40px; 
		width:220px; 
		padding:5px 8px;
	}
	.class_form textarea {padding:8px; width:300px;}
	.class_form button {margin-left:25%;}
	.class_form .subject {margin-left: 0%;}
/*.class_form li:first-child, .class_form li:last-child {
	border-bottom:1px solid #777;
}
*/
.class_form label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}

.class_form input:focus, .class_form textarea:focus { /* add this to the already existing style */
	padding-right:70px;
}

.class_form input:focus:invalid, .class_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
	background: #fff url(images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

.class_form input, .class_form textarea { /* add this to the already existing style */
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s;
	transition: padding .25s;
}

.class_form input:required:valid, .class_form textarea:required:valid { /* when a field is considered valid by the browser */
	background: #fff url(images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

input:required:valid, textarea:required:valid { /* when a field is considered valid by the browser */
	background: #fff url(images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;

}

.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}

.form_hint::before {
	content: "\25C0"; /* left point triangle in escaped unicode */
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}

.class_form input:focus + .form_hint {display: inline;}
.class_form input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.class_form input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */
._home .imgslide{
	min-height: 400px;
	height: 501px;
	width: auto;
}

._home .registerBar{
	z-index: 20;
	position: absolute;
	left: 20%;
	right: 20%;
	font-family: "Lato";
	color: rgba(255, 255, 255, 1);
	margin: auto;
}
._home #user1{
	color: black;
	opacity: .6;
}
._home #title{
	font-family: "Lato";
	font-weight: 900;
	color: white;
	margin-bottom: 0px;
}
._home #titleunder{
	color: white;
	margin-top: 0px;
	font-size: 20px;
	position: center;
}

._home #registerlabel{
	margin: auto;
	font-size: 20px;
}


._home .cover{
	margin-top: 5px;
	top: 25%;
	margin-top: 10%;
	margin-left: 30%;
	z-index: 10;
	position: absolute;
}
