#bg-image-id{
	height: 100vh;
	background-size: cover;
	margin-top: 0px;
}

.navbarhome{
	top: 0;
	width: 100%;
	margin-bottom: 0px;
	border: 0px;
	position: absolute;
}
.fa-spin-hover:hover {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.navbarnothome{
	top: 0;
	width: 100%;
	margin-bottom: 0px;
	border: 0px;
	position: relative;
}

.NavBar{
	position: absolute;
	width: 100%;
	background-color: rgba( 11, 181, 250, .8);
}

/*
doesn't work, hover color
*/
.toptab:hover{
	background-color: yellow;
	color: red
}
#navbartophome{
	background-color: rgba( 11, 181, 250, .09);
	margin-bottom: 0px;
	border-radius: 1px;
	opacity: .9;
	z-index: 1000000;
}
#navbartopnothome{
	background-color: rgba( 11, 181, 250, .9);
	margin-bottom: 0px;
	border-radius: 1px;
	opacity: .9;
	z-index: 1000000;
}

.navbartext{
	color: white;
}

.navbar-brand{
	font-weight: bold;
}

#login-dropdown-list{
	margin-top:15px;
	color: white;
}

.dropdown-toggle{
	color: white;
}

.glyphicon-bullhorn {
	color: yellow;
	height: 35px;
	width: 35px;
	margin-top: auto;
	margin-bottom: auto;
}

.money {
	color: white;
	font-size: 25pt;
	margin-right: 20px;
}
