.__Profile{
	 margin-left: 20px;
	 margin-right: 20px;
	 margin-bottom:0px;
	 margin-top: 0px;

}
#pagepic{
		 background-image: url("shelftransparent.png");

}
#jumber{
	    padding: 10px;
    height: auto;
        margin: 5px;
    background-color: #dff0d8;
}
#pageh{
	    margin-top: 5px;
    margin-bottom: 5px;
}
#ph-id{
	margin-top: 0px;
}
#Revid{
	margin-left: 10px;
}
#ull{}
#bolder{
	font-weight: 700;
}
#sjumbo{
	margin-bottom: 5px;
	color: #555;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(91, 192, 222, 0.27);
}
.darkgrey{
	color: #555;
}
#rightcol1{
	float: right;
}
#leftcol1{
	display: inline-block
	
}
.__Profile #tjumbo{
	background-color: rgba(252, 248, 227, 0.95);
	border-radius: 10px;
	    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 700px){
	#mediacircle{
		height: 150px;
		width: 150px;
	}
}
