._student-dashboard #sidebar1{

  width: 40%;
  padding: 20px;



}
#thhistory{
  max-height: 150px;
  overflow-y: scroll;
}
#notifbodyid{
  max-height: 200px;
  overflow-y: scroll;
}
#notifbodyid2{
  max-height: 150px;
  overflow-y: scroll;
}
._student-dashboard #studentdashtitle, #sellerdashtitle{
	    color: #3c763d;
	font-family: "Nunito";
	text-align: center;
	font-size: 3em;
	margin-top: -20px;
}
#dashtitlejum, #selldashjum{
	    margin-top: 20px;
	    background-color: rgba(223, 240, 216, .5);
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
._student-dashboard .btn-group {
  margin-top: 0px;
  margin-bottom: 0px;
}
.transaction_history{
	padding: 15px;
	list-style: none;
}
.translist{
	font-weight: 300;
    font-family: "Nunito";
    margin-bottom: 10px;
}
#transscroll{
	height: 200px;
	overflow-y: scroll;

}
#jumbotrans{
	padding: 10px;
}
._student-dashboard #signupdiv{
	width: 100%
	border-radius: 4px;
}
._student-dashboard .panel-heading{
	background-color: #DFF0D8;
	font-family: "Nunito";
	font-weight: 300;
}
._seller-dashboard .panel-heading{
	background-color: rgba(0, 239, 255, .12)
}
.bs-callout{
    background-color: rgba(255, 255, 255, .93);
}
#join-class-btn {
  text-align:left;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 300;
    font-family: "Nunito";

}
#join-class-btn2 {
	width: 95%;
    margin-left: 2.5%;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
      font-weight: 300;
    font-family: "Nunito";
        border-color: white;
    color: black;
    background-color: rgba(217, 83, 79, 0.31);
}




._student-dashboard{
	min-height: 100vh;
	background-repeat: repeat;
	background-attachment: fixed;
	background-image: url("bookshelf1.png");
	width: 100%;
}

._student-dashboard .panel-body {
  padding-bottom: 0px;
}
