#carouselimage{
	top: 0px;
	position: absolute;
	z-index: 0;
	
}
#banner{
	background-color: blue;
	
	margin-bottom: -10%;
	display: block;
	height: 10%;
	width: 100%;
	z-index: 40;
}
@media screen and (min-width: 900px){
	#title{
		font-size: 150px;
	}
}
@media screen and (min-width: 768px){
	#title{
		font-size: 70px;
	}
}
@media screen and (min-width: 480px){
	.carousel-slide{
		min-height:400px;

	}
	#title{
		font-size: 50px;
	}


}
.imgslide{
	min-height: 400px;
	height: 500px;
	width: auto;
}
.registerBar{
	z-index: 20;
	position: absolute;
	left: 20%;
	right: 20%;
	top: 80%;
	font-family: "Andale Mono";
	color: rgba(255, 255, 255, 1);
	margin: auto;
}
#user1{
	color: rgba(255, 255, 255, .5);
	opacity: .5;
}
#title{
	font-family: "ADAM.CG PRO";
	font-weight: 900;
	color: white;
}

#registerlabel{
	margin: auto;
	font-size: 20px;
}
#home{
	height: 100vh;
	background-position:center;
	background-attachment:scroll;
	background-size: cover;
	background-repeat: no-repeat;

}

.cover{
	margin-top: 5px;
	top: 25%;
	margin-top: 10%;
	margin-left: 35%;
	z-index: 10;
	position: absolute;
}
