#carouselimage{
	top: 0px;
	position: absolute;
	z-index: 0;
	
}
@media screen and (min-width: 900px){
	#title{
		font-size: 150px;
	}
}
@media screen and (min-width: 768px){
	#title{
		font-size: 70px;
	}
}
@media screen and (min-width: 480px){
	.carousel-slide{
		min-height:400px;

	}
	#title{
		font-size: 50px;
	}

}
.imgslide{
	min-height: 400px;
	height: 500px;
	width: auto;
}
#title{
	font-family: "Andale Mono";
	font-weight: 700;
	color: white;
}


#home{
	height: 100vh;
	background-position:center;
	background-attachment:scroll;
	background-size: cover;
	background-repeat: no-repeat;

}

.cover{
	margin-top: 5px;
	top: 40%;
	margin-top: 10%;
	margin-left: 40%;
	z-index: 10;
	position: absolute;
}