#bg-image-id{
	height: 350px;
	background-size: cover;
	margin-top: 0px;
}
#navbar-brand:hover{
	background-color: white;
}
#navbartop{
	background-color: #0bb5ff;
	margin-bottom: 0px;
	border-radius: 1px;
}

.navbartext{
	color: white;
}

#login-dropdown-list{
	margin-top:15px;
	color: white;
}

.dropdown-toggle{
	color: white;
}