#bg-image-id{
	height: 100vh;
	background-size: cover;
	margin-top: 0px;
}

.navbarhome{
	top: 0;
	width: 100%;
	margin-bottom: 0px;
	border: 0px;
	position: absolute;
}

.navbarnothome{
	top: 0;
	width: 100%;
	margin-bottom: 0px;
	border: 0px;
	position: relative;
}

.NavBar{
	position: absolute;
	width: 100%;
	background-color: rgba( 11, 181, 250, .8);
}

/*
doesn't work, hover color
*/
.toptab:hover{
	background-color: yellow;
	color: red
}
#navbartophome{
	background-color: rgba( 11, 181, 250, .09);
	margin-bottom: 0px;
	border-radius: 1px;
	opacity: .9;
	z-index: 1000000;
}
#navbartopnothome{
	background-color: rgba( 11, 181, 250, .9);
	margin-bottom: 0px;
	border-radius: 1px;
	opacity: .9;
	z-index: 1000000;
}

.navbartext{
	color: white;
}

.navbar-brand{
	font-weight: bold;
}

#login-dropdown-list{
	margin-top:15px;
	color: white;
}

.dropdown-toggle{
	color: white;
}