#bg-image-id{
	height: 100vh;
	background-size: cover;
	margin-top: 0px;
}

.navbar{
	top: 0;
	width: 100%;
	margin-bottom: 0px;
}

/*
doesn't work, hover color
*/
.toptab:hover{
	background-color: yellow;
	color: red
}
#navbartop{
	background-color: rgba( 11, 181, 250, .03);
	margin-bottom: 0px;
	border-radius: 1px;
	opacity: .9;
	z-index: 1000000;
}

.navbartext{
	color: white;
}

.navbar-brand{
	font-weight: bold;
}

#login-dropdown-list{
	margin-top:15px;
	color: white;
}

.dropdown-toggle{
	color: white;
}