#bg-image-id{
	height: 350px;
	background-size: cover;
	margin-top: 0px;
}

/*
doesn't work, hover color
*/
.toptab:hover{
	background-color: yellow;
	color: red
}
#navbartop{
	background-color: #0bb5ff;
	margin-bottom: 0px;
	border-radius: 1px;
}

.navbartext{
	color: white;
}

.navbar-brand{
	font-weight: bold;
}

#login-dropdown-list{
	margin-top:15px;
	color: white;
}

.dropdown-toggle{
	color: white;
}