._seller-dashboard #sidebar1{

  width: auto;
  padding: 20px;
  display: inline-block;


}
._seller-dashboard .walletclass{
  height: 20px;
}
._seller-dashboard .repclass{
  height: 30px;
  margin-top: -10px;
}
._seller-dashboard .clipboardclass{
  height: 30px;
}
._seller-dashboard .main-section {
  display: inline-block;
}

._seller-dashboard .btn-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

._seller-dashboard #create-class-btn {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

._seller-dashboard .panel-body {
  padding-bottom: 0px;
}

._seller-dashboard .glyphicon-heart {
  color: #FF1493;
  font-size: 50pt;
  margin: 20px;

}

._seller-dashboard #reviewValue {
  font-family: Lato;
  font-size: 50px;
  color: darkturquoise;
}
